:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-footer-color: #2f303a;
  --background-text-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--background-text-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------------------------------HEADER------------------ */

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #000000;
}

.logo-part {
  color: var(--accent-color);
}

.header-nav .link.current {
  color: var(--accent-color);
}

.header-nav-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-tel-mail {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #757575;
}

.header-tel-mail:hover,
.header-tel-mail:focus {
  color: var(--accent-color);
}

/* -----------------MAIN-------------------------------------- */

.hero {
  background-color: var(--hero-footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-text-color);
}

.hero-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  background: var(--accent-color);
  cursor: pointer;
}

/* section 2 */

.values-title {
  line-height: calc(16 / 14);
  text-transform: uppercase;
}

.values-text {
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
}

/* what-we-do--------------- */

.gallery-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

/* <!-- our team --> */
.team {
  background: #f5f4fa;
}
.team-title {
  font-size: 36px;
  line-height: calc(42 / 36);
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
}

.team-bottom-text {
  font-size: 16px;
  line-height: calc(19 / 16);
}

/* -----------------FOOTER-------------------------------------- */

.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--background-text-color);
}

.contacts-address {
  font-style: normal;
  line-height: calc(24 / 14);
  color: #ffffff;
}

.footer-contacts-item {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: var(--accent-color);
}

/* ________________________PORTFOLIO_________________________________ */

.portfolio-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #212121;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: #2196f3;
}

.portfolio-hero {
  background: #f5f5f5;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  line-height: calc(30 / 16);
  color: #757575;
}
